= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :note
    %br/
    = f.text_area :note
  .field
    = f.label :checkbox
    %br/
    #cshow
      = f.check_box(:cb, :value => '0')
  .field{:hidden => true, :id => 'chide'}
    = f.label :completed
    = f.date_select :completed
  .actions
    = f.submit
