%p#notice= notice
%p
  %strong Title:
  = @task.title
%p
  %strong Note:
  = @task.note
%p
  %strong Completed:
  = @task.completed
= link_to 'Edit', edit_task_path(@task)
|
= link_to 'Back', tasks_path
