%p#notice= notice
%p
  %strong Title:
  = @task.title
%p
  %strong Note:
  = @task.note
%p
  %strong Completed:
  Yes
%p
  %strong Completed On:
  = @task.completed
= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary'
= link_to 'Back', tasks_path, class: 'btn btn-primary'