<div>
  <div>
    <div>
      <h1>
        Welcome
        <%= current_user.username %>
      </h1>
      <p>Here you can manage your daily tasks in a nice manner</p>
    </div>
  </div>
</div>
<br/>
<div>
  <% if @tasks.empty? %>
    <span>There are no tasks!</span>
  <% else %>
    <table>
        <tr>
      <thead>
          <th>Title</th>
          <th>Created at</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <td>
            <strong>
              <%= task.title %>
            </strong>
          </td>
          <td>
            <%= task.created_at %>
          </td>
          <td>
            <%= task.completed %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>
