!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %title Devise3
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = csrf_meta_tags
    %body
        %p.notice= notice
        %p.alert= alert
        %p
            Welcome
            = current_user.username
            , to your very own task manager.


        .row-fluid
            .span10.offset1
                .hero-unit.text-center
                    %h1 Task Manager
                    %p Easy Way To manage your daily tasks.
    
    = yield

    - if user_signed_in?
        = link_to "Sign Out", destroy_user_session_path, method: :delete
